/*Global*/

#globalwrapper {
  display: block;
  width: 970px;
  height: 1000px;
  margin: 0px auto;
}

* {
    font-family: "Arial", Georgia, Serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
}

/*Header/Banner*/

header {
  display: block;
  width: 970px;
  height: 100px;
}

header img {
  display: inline-block;
  width: 125px;
  height: 125px;
}

header h1 {
  display: inline-block;
  vertical-align: top;
  font-size: 3em;
}

#worldwidewebbanner {
  display: block;
  width: 970px;
  height: 80px;
  background: -webkit-linear-gradient(top, #d0e4f7 0%,#73b1e7 7%,#0a77d5 50%,#539fe1 79%,#87bcea 100%);
  margin-top: 10px;
}

#worldwidewebbanner h2 {
  display: inline-block;
  font-size: 2.25em;
  padding-left: 10px;
  color: white;
  margin: 10px 0px 0px 0px;
}

/*Sidebar*/

#sidebar {
  display: inline-block;
  width: 250px;
  height: 790px;
  /*border: 1px dotted red;*/
}

#topsidebar {
  display: inline-block;
  width: 250px;
  height: 270px;
  /*border: 1px dotted green;*/
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

#topsidebar h4 {
  display: inline-block;
  margin: 20px 0px 0px 0px;

}

#topsidebar h5 {
  display: inline-block;
  font-size: 1.03em;
  margin: 20px 0px 0px 0px;
}

#watchvideobutton {
  display: block;
  width: 100%;
  height: 45px;
  margin: 25px auto 5px auto;
  background: #427CAD;
  color: white;
  border-radius: 10px;
  font-size: 1.1em;
  border: none;
  box-shadow: 2.5px 2.5px grey;
}

#moreresourcesbutton {
  display: block;
  width: 100%;
  height: 45px;
  margin: 0px auto 10px auto;
  background: #EC821A;
  color: white;
  border-radius: 10px;
  font-size: 1.1em;
  border: none;
  box-shadow: 2.5px 2.5px grey;
}

#bottomsidebar {
  display: inline-block;
  width: 250px;
  height: 400px;
  background-image: url("images/ad_background.png");
  /*border: 1px dotted green;*/
  margin: 20px 0px 0px 0px;
  text-align: center;
}

#bottomsidebar p {
  color: white;
  font-size: 2em;
  margin: 32px 0px 0px 0px;
}

#bottomsidebar img {
  display: block;
  margin: 0px auto 20px auto;
  width: 40%;
  height: 40%;
}

#learnmorebutton {
  display: block;
  width: 80%;
  height: 45px;
  margin: 0px auto 0px auto;
  background: #46CADE;
  color: white;
  border-radius: 10px;
  font-size: 1.1em;
  border: none;
  box-shadow: 2.5px 2.5px grey;
}

/*Contact Information Banner*/

/*Content Container*/
#content {
  display: inline-block;
  height: 790px;
  width: 691px;
  /*border: 1px dotted red;*/
  margin-left: 20px;
  vertical-align: top;
}

#contactinfo {
  display: inline-block;
  width: 691px;
  height: 100px;
  border-bottom: 1px solid black;
}

#homeimg {
  display: inline-block;
  width: 30px;
  vertical-align: top;
  margin-top: 10px;
}

#contactinfo a {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #26669C;
  font-size: 1.5em;
  padding-top: 14px;
}

#phoneimg {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 15px 0px 0px 340px;
  vertical-align: top;
}

#phonenumbers {
  width: 185px;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-top: 5px;
  /*border: 1px dotted black;*/
}

#phonenumbers p {
    font-size: .75em;
}

#phonenumbers h4 {
  margin: 3px 0px;
  font-size: 2em;
  color: #00c0dd;
}

/*Main Content*/

/*Clients and servers text section*/
#clientsandservers {
  width: 691px;
  /*border: 1px dotted red;*/
}

#clientsandservers h2 {
  margin-top: 5px;
  color: #26669C;
}

#clientsandservers p {
  margin-top: 10px;
}

#clientsandservers ul li{
  margin: 5px 0px;
}

/*client/server image id*/
#clientserver {
  display: inline-block;
  width: 50%;
  margin-left: 170px;
}

/*So What Actually Happens? section*/

#whathappens {
  width: 691px;
}

#whathappens h2 {
  margin-top: 5px;
  color: #26669C;
}

#whathappens ol li{
  margin-top: 10px;
}
