/*Global*/

#globalwrapper {
  display: block;
  width: 970px;
  height: 1000px;
}

* {
    font-family: "Arial", Georgia, Serif;
}

/*Header/Banner*/

header {
  display: block;
  width: 970px;
  height: 100px;
}

header img {
  display: inline-block;
  width: 125px;
  height: 125px;
}

header h1 {
  display: inline-block;
  vertical-align: top;
  font-size: 3em;
}

#worldwidewebbanner {
  display: block;
  width: 970px;
  height: 80px;
  background: -webkit-linear-gradient(top, #d0e4f7 0%,#73b1e7 7%,#0a77d5 50%,#539fe1 79%,#87bcea 100%);
  margin-top: 10px;
}

#worldwidewebbanner h2 {
  display: inline-block;
  font-size: 2.25em;
  padding-left: 10px;
  color: white;
  margin: 10px 0px 0px 0px;
}

/*Sidebar*/

#sidebar {
  display: inline-block;
  width: 250px;
  height: 790px;
  /*border: 1px dotted red;*/
}

#topsidebar {
  display: inline-block;
  width: 250px;
  height: 270px;
  /*border: 1px dotted green;*/
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

#topsidebar h4 {
  display: inline-block;
  margin: 20px 0px 0px 0px;

}

#topsidebar h5 {
  display: inline-block;
  font-size: 1.03em;
  margin: 20px 0px 0px 0px;
}

#watchvideobutton {
  display: block;
  width: 100%;
  height: 45px;
  margin: 25px auto 5px auto;
  background: #427CAD;
  color: white;
  border-radius: 10px;
  font-size: 1.1em;
  border: none;
  box-shadow: 2.5px 2.5px grey;
}

#moreresourcesbutton {
  display: block;
  width: 100%;
  height: 45px;
  margin: 0px auto 10px auto;
  background: #EC821A;
  color: white;
  border-radius: 10px;
  font-size: 1.1em;
  border: none;
  box-shadow: 2.5px 2.5px grey;
}

#bottomsidebar {
  display: inline-block;
  width: 250px;
  height: 400px;
  background-image: url("images/ad_background.png");
  /*border: 1px dotted green;*/
  margin: 20px 0px 0px 0px;
  text-align: center;
}

#bottomsidebar p {
  color: white;
  font-size: 2em;
  margin: 32px 0px 0px 0px;
}

#bottomsidebar img {
  display: block;
  margin: 0px auto 20px auto;
  width: 40%;
  height: 40%;
}

#learnmorebutton {
  display: block;
  width: 80%;
  height: 45px;
  margin: 0px auto 0px auto;
  background: #46CADE;
  color: white;
  border-radius: 10px;
  font-size: 1.1em;
  border: none;
  box-shadow: 2.5px 2.5px grey;
}
