#globalwrapper {
  display: block;
  height: 750px;
  width: 750px;
  background: #D6D1B1;
}

header {
  display: block;
  width: 750px;
  height: 125px;
  text-align: center;
  vertical-align: bottom;
}

header img {
  display: inline-block;
  height: 50px;
  width: 100px;
  margin-top: 60px;
}

header h1 {
  display: inline-block;
}

#content {
  display: inline-block;
  width: 750px;
  height: 625px;
  /*border: 1px dotted red;*/
}

#content img {
  display: inline-block;
  height: 140px;
  width: 140px;
  margin: 5px 0px 0px 0px;
  padding-left: 5px;
}
