/*General*/

*{
  margin: 0px;
  padding: 0px;
  font-family: "Arial", Georgia, Serif;
}

#globalwrapper {
  display: block;
  width: 970px;
  height: 1000px;
  background: #265175;
  margin: 0px auto;
}

/*Header*/

header {
  display: block;
  width: 970px;
  height: 140px;
  background: #265175;
}

header img {
  display: inline-block;
  max-width: 65%;
  max-height: 65%;
  padding: 10px 0px 0px 10px;
}

header p {
  display: inline-block;
  vertical-align: top;
  margin: 0px 0px 0px 440px;
  padding-top: 10px;
  color: white;
}

header p a {
  color: #D4B200;
}

#searchbar {
  display: inline-block;
  margin: -65px 0px 50px 660px;
  vertical-align: top;
  width: 300px;
  height: 75px;
  background: #444444;
  border-radius: 20px;
  box-shadow: 3px 3px;
}

#searchbar2 {
  display: inline-block;
  margin: 15px 0px 0px 35px;
}

#searchbar2 input {
  width: 200px;
  height: 40px;
}

#searchbar2 button {
  display: inline-block;
  width: 40px;
  height: 45px;
  background: #265175;
  color: white;
}

/*NavBar*/

#navbar {
  width: 800px;
  height: 75px;
  background: #4A80AB;
  margin: 0px auto;
  border-radius: 20px;
  text-align: center;
  box-shadow: 3px 3px;
}

#navbar ul li {
  display: inline;
  list-style-type: none;
  padding: 8px 10px;
  font-size: 1.5em;
  line-height: 75px;
}

#navbar a{
  text-decoration: none;
  color: white;
}

/*About Section*/

#aboutsection {
  display: block;
  height: 350px;
  /*border: 1px dotted red;*/
  margin-top: 15px;
  text-align: center;
}

#aboutnav {
  display: inline-block;
  width: 300px;
  height: 300px;
  /*border: 1px dotted green;*/
  margin: 10px 0px 0px 10px;
  vertical-align: top;
}

#aboutnav ul li {
  padding: 8px 10px;
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
  list-style-position: inside;
}

#aboutnav ul li a {
  color: white;
  line-height: 25px;
}

#aboutnav ul li a span {
  text-decoration: none;
}

/*History/Zen Section*/

#historyzen {
  display: inline-block;
  width: 575px;
  height: 350px;
  /*border: 1px dotted white;*/
  vertical-align: top;
}

#historyzen ul li {
  list-style-position: inside;
}

#historyzen p {
  color: white;
  font-size: .9em;
}

#historyzen ul li {
  list-style-type: none;
  padding: 8px 10px;
  font-size: 1.25em;
  line-height: 25px;
}

.zen {
  color: #FFD343;
  font-style: italic;
}

#zenofpython {
  color: white;
}

/*Information Section*/

#information {
  display: block;
  height: 250px;
  background: white;
  /*border: 1px dotted red;*/
  font-size: .9em;
  text-align: center;
}

#gettingstarted {
  display: inline-block;
  width: 350px;
  height: 100%;
  /*border: 1px dotted red;*/
  vertical-align: top;
  margin: 15px 15px 0px 0px;
  padding-top: 5px;
  border-top: medium solid #89BAE3;
}

#applications {
  display: inline-block;
  width: 350px;
  height: 100%;
  /*border: 1px dotted red;*/
  vertical-align: top;
  margin: 15px 10px 0px 15px;
  padding-top: 5px;
  border-top: medium solid #89BAE3;
}

#information ul li {
  list-style-position: inside;
  color: black;
  text-align: left;
}

#information li a {
  text-decoration: none;
  color: #75A8D3;
}

/*Footer*/

footer {
  display: block;
  height: 168px;
  text-align: center;
}

footer a {
  display: inline-block;
  padding: 0px 10px;
  text-decoration: none;
  color: #89BAE3;
  margin-top: 90px;
}

footer p {
 display: block;
 margin-top: 30px;
 font-size: .5em;
 color: #89BAE3;

}
