/*General*/
*{
  margin: 0px;
  padding: 0px;
  font-family: "Arial", Georgia, Serif;
}

#globalwrapper {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  width: 970px;
  height: 1000px;
  background: #265175;
}

/*Header*/

header {
  display: inline-block;
  width: 970px;
  height: 140px;
  background: #265175;
}

header img {
  display: inline-block;
  max-width: 65%;
  max-height: 65%;
  padding: 10px 0px 0px 10px;
}

header p {
  display: inline-block;
  position: absolute;
  right: 400px;
  margin: 0;
  padding-top: 10px;
  color: white;
}

header p a {
  color: #D4B200;
}

#searchbar {
  display: inline-block;
  position: relative;
  left: 320px;
  bottom: 45px;
  width: 300px;
  height: 75px;
  background: #444444;
  border-radius: 20px;
  box-shadow: 3px 3px;
}

#searchbar2 {
  display: inline-block;
  position: relative;
  left: 45px;
  top: 25px;
  margin: 0px;
}

#searchbar2 button {
  background: #265175;
  color: white;
}

/*NavBar*/

#navbar {
  width: 800px;
  height: 100px;
  background: #4A80AB;
  margin: 0px auto;
  border-radius: 20px;
  text-align: center;
  box-shadow: 3px 3px;
}

#navbar ul li {
  display: inline;
  list-style-type: none;
  padding: 8px 10px;
  font-size: 1.5em;
  line-height: 100px;
}

#navbar a{
  text-decoration: none;
  color: white;
  display: inline-block;

}
